.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(163, 158, 158);
    color: white;
    text-align: center; 
}

.undefinedList {
    list-style: none;
}

.sub_footer {
    display: flex;
    justify-content: space-evenly;
}

.SocialMedia {
    padding-left: 1rem;
    border-color: red;

}